<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Teclado</title>
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>

<body>
  <div class="wrapper">
    <header>
      <h1>
        <a href="/">Teclado</a>
      </h1>
      <nav>
        {% if loggedIn == True %}
        <a href="/dashboard">Tablero</a>
        <button id="logout" class="btn-no-style">Cerrar Sesión</button>
        {% else %}
        <a href="/login">Acceso</a>
        {% endif %}
      </nav>
    </header>
    <main>
      {% block body %}{% endblock %}
    </main>
    <footer>
      ¡Gracias por Visitar!
    </footer>
  </div>
  
  {% if loggedIn %}
  <script src="/javascript/logout.js"></script>
  {% endif %}
</body>

</html>