<article class="post">
  <div class="title">
    <a href="{{post.post_url}}" target="_blank">{{post.title}}</a>
    <!-- this syntax is passing post.post_url through the format_url -->
    <span>({{post.post_url|format_url}})</span> 
  </div>
  <div class="meta">
    {{post.vote_count}} {{post.vote_count|format_plural('point')}} by {{post.user.username}} on {{post.created_at|format_date}}
    |
    <!-- weird syntax around the length is just how Jinja shows the length of an array -->
    <a href="/post/{{post.id}}">{{post.comments|length}} {{post.comments|length|format_plural('comment')}}</a> 
  </div>
</article>